<div>
    <% flash.each do |type, msg| %>
        <div>
        <%= msg %>
        </div>
    <% end %>
    <div class = 'border'>
        <h3><%=@post.title%><%=' by '%><%=@post.author.name%></h3>
        <b><%='Comments: ' %><%=@post.comments_counter%>
            <%='Likes: ' %><%=@post.likes_counter%>
        </b>
        <p><%=@post.text%></p>
        <%=render partial: "likes/create", locals: {post: @post} %>
    </div>
    <div class = 'border'>
        <%@post.comments.each do |comment|%>
            <%=render partial: "comments", locals: {comment: comment} %>
        <%end%>
    </div>

    <%=render partial: "comments/create", locals: {post: @post} %>

</div>

